################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/Release
/c3.vcxproj.user
c3
.vscode/settings.json
*.kate-swp
/x64
c3-32
